@page
@model PrivacyModel
@{
    ViewData["Title"] = "Music Video";
}
<h1 style="text-align:center">Music Video</h1>

<div id="center">
    <iframe width="600" height="350" src="https://www.youtube.com/embed/1Rx_p3NW7gQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>